.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #593196;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
  .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.20rem;
    overflow: hidden;
    font-size: 0.65625rem;
    background-color: rgb(255, 255, 255);
  }

  .card {
    position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }