<div class="container">
  <form (ngSubmit)="submitRegisterForm(registerForm)" [formGroup]="registerForm">

    <div class="form-group">
      <div class="form-group">
        <label class="col-form-label" for="username">Username</label>
        <input formControlName="username" type="text" class="form-control" placeholder="Username" id="username">
        
        <div *ngIf="usernameMessage" class="alert alert-danger">
          {{usernameMessage}}
        </div>
        
      </div>


      <div class="form-group">
        <label class="col-form-label" for="email">Email</label>
        <input formControlName="email" type="text" class="form-control" placeholder="Email" id="email">
        <div *ngIf="emailMessage" class="alert alert-danger">
          {{emailMessage}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-form-label" for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Name" id="name">
        <div *ngIf="nameMessage" class="alert alert-danger">
            {{nameMessage}}
          </div>
      </div>


      <div class="form-group">
        <label class="col-form-label" for="password">Password</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Password" id="password">
        <div *ngIf="passwordMessage" class="alert alert-danger">
          {{passwordMessage}}
        </div>
      </div>

    </div>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>